/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 10px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  
}

#income-container, #level-exp-container {
  display: flex;
  align-items: center;
  font-size: 14px;
}

#level-exp-bar {
  width: 100px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-left: 5px;
  overflow: hidden;
}

#level-exp-fill {
  height: 100%;
  width: 0%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.main-content {

  flex: 1;
}

.tab-content {
  display: none;
}

.tab-content.active {
    display: block;
    position: fixed;
    background-color: #fff;
    bottom: 10%; /* Position from the bottom */
    left: 50%; /* Position from the left */
    transform: translateX(-50%); /* Center it horizontally */
    width: 100%; /* Optional: Set to 100% for full width */
    max-width: 600px; /* Set a maximum width to prevent stretching */
    margin: 0 auto; /* Center it within the width */
    text-align: center;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  font-size: 12px;
}

.footer-item {
  text-align: center;
  flex: 1;
  cursor: pointer;
}

.footer-icon {
  display: block;
  font-size: 14px;
}

.coin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.coin-image {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#energy-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#energy-bar {
  width: 200px;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  
}

#energy-fill {
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

#energy-count {
    font-size: 12px;
}

#max-energy{
    font-size: 12px;
}