.equipped-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.equipped-item {
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 300px;
    margin-bottom: 20px;
}

.equipped-item-content {
    margin-top: 10px;
}

.equipped-item-image {
    max-width: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.equipped-item-name {
    font-size: 14px;
    font-weight: bold;
}

.equipped-item-description {
    font-size: 14px;

    margin-top: 5px;
}

.equipped-items-summary {
    margin: 5px;
    font-size: 14px;

    text-align: center;
}

.unequip-button {
    background-color: #333; /* Button background color */
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners for button */
    padding: 10px 15px; /* Padding for button */
    cursor: pointer; /* Pointer on hover */
    width: 100%; /* Full width button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    margin-top: 5px; /* Space below the image */
}
