.inventory-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px; /* Space between items */
    padding: 20px; /* Padding around the inventory container */

    align-items: center;
width: 100%;    
margin-bottom: 20px;
}





.inventory-item {
    background-color: #f8f9fa; /* Light background for items */
    font-weight: bold;
        border: 1px solid #e0e0e0; /* Border for items */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside items */
    text-align: center; /* Center align text */
    display: flex; /* Use flexbox for inner alignment */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for hover effect */
}

.inventory-item:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
}

.inventory-image {
    width: 80%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners for images */
    margin-bottom: 5px; /* Space below the image */
}

.inventory-name {
    font-size: 12px; /* Smaller font size for item name */
    margin: 5px 0; /* Margin for spacing */
}

.common {
    border: 1px solid green;
    box-shadow: 0 0 5px green;
    background: linear-gradient(45deg, green, lightgreen);
}

.uncommon {
    border: 1px solid blue;
    box-shadow: 0 0 5px blue;
    background: linear-gradient(45deg, blue, lightblue);
}

.rare {
    border: 1px solid gold;
    box-shadow: 0 0 5px gold;
    background: linear-gradient(45deg, gold, yellow);
}

.epic {
    border: 1px solid purple;
    box-shadow: 0 0 5px purple;
    background: linear-gradient(45deg, purple, violet);
}

.equipped {
    border: 1px solid red; /* Red border for equipped items */
    box-shadow: 0 0 5px red;
    background: linear-gradient(45deg, red, darkred);
}
